* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::before {
    box-sizing: border-box;
  }
  *::after {
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 6px;
  }
  ::-webkit-scrollbar {display:none}
  .code-wrapper{
    flex: 1;
    height: 50%;
    background-color: rgb(90, 216, 238);
  }
  .preview-wrapper{
    flex: 1;
    height: 50%;
  }
  #code{
    overflow: hidden;
    height: 100%;
    overflow-y: scroll;
  }
  .actions{
    position: absolute;
    top: 0;
    right: 0;
    margin: 24px;
    display: flex;
    flex-direction: column;
  }
  .actions > button{
    padding: 16px;
    margin: 8px 16px;
    border-radius: 7px;
    border: none;
    background-color: rgb(0, 183, 255);
    transition: all 0.7s;
  }
  .actions > button.active{
    box-shadow: 0px 0px 8px 2px rgb(214, 87, 176);
  }
  .actions > button:focus{
    outline: none;
  }
  
